certifi==2023.11.17
colorama==0.4.6
gitdb==4.0.11
GitPython==3.1.40
halo==0.0.31
log-symbols==0.0.14
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
pexpect==4.9.0
ptyprocess==0.7.0
Pygments==2.17.2
rich==13.7.0
six==1.16.0
smmap==5.0.1
spinners==0.0.24
termcolor==2.4.0
toml==0.10.2
